{% extends "layout.html" %}
{% block title %}<h4 class="page-title">To be developped.</h4></li>{% endblock %}<li>
{% block body %}		
	<!--	<div class="am-g">-->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="am-g">
					<!-- Row start -->
						<div class="am-u-md-12">
							<div class="card-box">
								<h4 class="header-title m-t-0 m-b-30">To be developped.</h4>
								<div class="widget-chart-1 am-cf">
                                    <div id="widget-chart-box-1" style="height: 110px;width: 110px;float: left;">
                                    </div>

                                    <div class="widget-detail-1" style="float: right;">
                                        <h2 class="p-t-10 m-b-0"> ing.. </h2>
                                        <p class="text-muted">ing.</p>
                                    </div>
                                </div>
							</div>
						</div>
						
						
					<!-- Row end -->
				</div>
				
			</div>
		</div>
		<!-- end right Content here -->
{% endblock %}